{% extends 'comunes/base.html'%}
{% block content %}
{{super()}}
    <form action="/recopilarDatosEditados" method="post" id="formul2">
       <h1><b>MODIFICACIÓN DE DATOS DE UN PRODUCTO</b></h1>
       <div class="mb-3">
            <label for="foto">Fotografía: </label>
            <input type="file" name="foto" id="foto" value="Selecciona la imagen" accept="image/png, .jpeg, .jpg, image/gif">
        </div>
        <br/>
        <div class="mb-3 mt-3">
            <label for="idProducto">idProducto: </label>
            <input type="number" name="idProducto" id="idProducto" value="1" disabled required>
        </div>
        <br/>
        <div class="mb-3 mt-3">
            <label for="idCategoria">idCategoria: </label>
            <input type="number" name="idCategoria" id="idCategoria" value="1" required>
        </div>
        <br/>
        <div class="mb-3 mt-3">
            <label for="nombre">Nombre: </label>
            <input type="text" name="nombre" id="nombre" value="Laptop HP Stream CB-118DS" maxlength="50" size="50" required>
        </div>
        <br/>
        <div class="mb-3 mt-3">
            <label for="descripcion">Descripción: </label>
            <input type="text" name="descripcion" id="descripcion" value="Pantalla: 14'', RAM: 64 GB, Procesador: Intel Celeron N4020, S.O.:Windows 10, 1 TB SSD" maxlength="100" size="70" required>
        </div>
        <br/>
        <div class="mb-3 mt-3">
            <label for="precioVenta">Precio: </label>
            <input type="number" name="precioVenta" id="precioVenta" value="15900.00" required>
        </div>
        <br/>
        <div class="mb-3 mt-3">
            <label for="existencia">Existencia: </label>
            <input type="number" name="existencia" id="existencia" value="10" required>
        </div>
        <br/>
        <div class="mb-3 mt-3">
            <label for="color">Color: </label>
            <input type="text" name="color" id="color" value="Rosa" maxlength="25" required>
        </div>
        <br/>
        <div class="mb-3 mt-3">
            <label for="marca">Marca: </label>
            <input type="text" name="marca" id="marca" value="HP" maxlength="50" required>
        </div>
        <br/>
        <div class="mb-3 mt-3">
            <label for="costoEnvio">Costo de envío: </label>
            <input type="number" name="costoEnvio" id="costoEnvio" value="500.00" required>
        </div>
        <br/>
        <div class="mb-3 mt-3">
            <label for="estatus">Estatus:</label>
            <input type="checkbox" name="estatus" id="estatus" checked>
        </div>
        <br/>
        <button type="submit"  class="btn btn-primary">Guardar</button>
    </form>
{%endblock content%}